/* 页面底部的样式 */
.footer{
    background:#191e22;
}
.footer .footer-left{
    display: flex;    
    color:#fff;
    flex-direction: column;
    justify-content: center;
    padding-left:10%;
}
.footer .footer-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .footer-right img{
    width:60%;
    height:50%;
}